<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Article List</title>
    <link href="/static/kendo/css/common.css" rel="stylesheet"/>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/kendo/js/kendo.all.min.js"></script>
    <!--  한글화 -->
    <script src="/static/kendo/js/cultures/kendo.culture.ko-KR.min.js"></script>
    <script src="/static/kendo/js/messages/kendo.messages.ko-KR.min.js"></script>
    <style>
        #member-button {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
        }

        .k-input-solid {
            --kendo-input-border: #bbbbbb
        }
    </style>
    <script th:inline="javascript">
        $(function () {
            let errorMessage = [[${errorMessage}]]
            if(errorMessage!=null){
                alert(errorMessage);
            }


            let loginMember =  /*[[${member}]]*/ {};

            if (loginMember) {
                $("#loginBtn").css("display", "none");
                $("#logoutBtn").css("display", "block");
                $("#loginId").text(loginMember.memberId).css("display", "block");
            } else if (!loginMember) {
                $("#loginBtn").css("display", "block");
                $("#logoutBtn").css("display", "none");
                $("#loginId").css("display", "none");
            }

            $("#loginBtn").click(function () {
                window.location.href = "/login";
            })
            $("#logoutBtn").click(function () {
                if (confirm("로그아웃 하시겠습니까?")) {
                    window.location.href = "/logout";
                }
            })

            $("#articleTable").kendoGrid({
                toolbar: [{
                    type: "button",
                    text: "새 글쓰기",
                    click: createArticle
                }],
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/article/list",
                            dataType: "json",              // 서버에서 받을 데이터 형식
                            contentType: "application/json", // 데이터를 JSON으로 전송
                            type: "POST",                  // POST 방식으로 요청
                            data: function () {
                                let articleTable = $("#articleTable").data("kendoGrid");
                                if (articleTable) {
                                    return JSON.stringify({
                                        page: articleTable.dataSource.page(),     // 현재 페이지
                                        pageSize: articleTable.dataSource.pageSize() // 페이지당 항목 수
                                    });
                                }
                                return JSON.stringify({ page: 1, pageSize: 3 });
                            }
                        }
                    },
                    serverPaging: true,
                    serverSorting: true,
                    pageSize: 3,
                    schema: {
                        data: "data",
                        total: "total",
                        model:{
                           id: "id",
                           fields: {
                               title: { type: "text" },
                               content:{type: "text" },
                               memberId:{type: "text" },
                               createdAt:{type: "date" }
                           }
                        }
                    },
                },
                autoBind: true,
                pageable: true,
                height: 600,
                selectable: true,
                columns: [
                    {field: "id", title: "Id", width: "50px", type: "number"},
                    {
                        field: "title",
                        title: "Title",
                        template: '<a href="javascript:void(0)" class="detail-link">#: title #</a>'
                    }, {
                        field: "content",
                        title: "Content",
                        hidden: true
                    }, {
                        field: "createdAt",
                        title: "CreatedAt",
                        hidden: true
                    },
                    {field: "memberId", title: "author", width: "100px", editable: false}
                ],
                dataBound: function () {
                    // 데이터 바인딩 후 클릭 이벤트 설정
                    $(".detail-link").on("click", function (e) {
                        var row = $(this).closest("tr"); // 클릭한 링크의 부모 행
                        var dataItem = $("#articleTable").data("kendoGrid").dataItem(row); // 해당 행의 데이터 아이템

                        // 세부 정보 페이지로 이동
                        window.location.href = "/article/" + dataItem.id; // 예시 URL
                    })
                }
            });

            function createArticle() {
                if (!loginMember) {
                    alert("login을 해야 글쓰기를 할 수 있습니다.")
                    return false;
                }
                window.location.href = "/article/create";
            }

            $("#loginBtn").kendoButton({
                size: "large",
                themeColor: "info",
                rounded: "large",
                fillMode: "solid"
            });
            $("#logoutBtn").kendoButton({
                size: "large",
                themeColor: "error",
                rounded: "large",
                fillMode: "solid"
            });

        })



    </script>
</head>
<body>
<div id="example" style="width: 80%; margin: auto;">
    <div>
        <div>
            <h3>게시판</h3>
            <div id="member-button">
                <button id="loginBtn" class="k-button-md">login</button>
                <div id="loginId"></div>
                <button id="logoutBtn" class="k-button-solid-primary">logout</button>
            </div>
        </div>
        <div id="articleTable"></div>
    </div>

</div>
</body>
</html>