<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Article_editor</title>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/kendo/js/kendo.all.min.js"></script>
    <!--  한글화 -->
    <script src="../static/kendo/js/cultures/kendo.culture.ko-KR.min.js"></script>
    <script src="../static/kendo/js/messages/kendo.messages.ko-KR.min.js"></script>
    <style>
        #content {
            width: 80%;
            height: 50%;
        }
    </style>
</head>
<body>
<textarea id="content">

</textarea>

<script>
  $(function () {
    $("#content").kendoTextArea({
        label: {
            content: "게시글 내용",
            floating: true
        },
        value: "Lorem Ipsum is simply dummy text of the printing and typesetting industry." +
              "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book." +
              "It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.",
        rows: 20,
        overflow: "auto"
    }).data('kendoTextArea').addClass("expandEditor");
  })
    </script>
</body>
</html>