<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Article List</title>
    <link href="/static/kendo/css/common.css" rel="stylesheet"/>
    <link href="/static/css/egovframework/article.css" rel="stylesheet"/>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/kendo/js/kendo.all.min.js"></script>
    <!--  한글화 -->
    <script src="/static/kendo/js/cultures/kendo.culture.ko-KR.min.js"></script>
    <script src="/static/kendo/js/messages/kendo.messages.ko-KR.min.js"></script>
    <script src="/static/js/common.js"></script>


    <script>
        $(function () {
            $(".menu_item").kendoButton({
                themeColor: "base",
                rounded: "medium",

            })

            let tileLayout = $("#tilelayout").kendoTileLayout({
                containers: [{
                    colSpan: 1,
                    rowSpan: 1,
                    header: {
                        text: "총 게시글수"
                    },
                    bodyTemplate: kendo.template($("#total-article-template").html())
                }, {
                    colSpan: 2,
                    rowSpan: 1,
                    header: {
                        text: "작성자 랭킹"
                    },
                    bodyTemplate: kendo.template($("#writer-rank-chart-template").html())
                },{
                    colSpan: 2,
                    rowSpan: 1,
                    header: {
                        text: "날짜별 게시글 수"
                    },
                    bodyTemplate: kendo.template($("#article-day-chart-template").html())
                },{
                    colSpan: 3,
                    rowSpan: 2,
                    header: {
                        text: "카테고리 비율"
                    },
                    bodyTemplate: kendo.template($("#category-ratio-chart-template").html())
                }, {
                    colSpan: 2,
                    rowSpan: 2,
                    header: {
                        text: "카테고리별 게시글 수"
                    },
                    bodyTemplate: kendo.template($("#category-bar-chart-template").html())
                },],
                columns: 5,
                columnsWidth: 300,
                rowsHeight: 235,
                reorderable: true,
                resizable: true,
                resize: function (e) {
                    let rowSpan = e.container.css("grid-column-end");
                    let chart = e.container.find(".k-chart").data("kendoChart");
                    // hide chart labels when the space is limited
                    if (rowSpan === "span 1" && chart) {
                        chart.options.categoryAxis.labels.visible = false;
                        chart.redraw();
                    }
                    // show chart labels when the space is enough
                    if (rowSpan !== "span 1" && chart) {
                        chart.options.categoryAxis.labels.visible = true;
                        chart.redraw();
                    }
                    kendo.resize(e.container, true);
                }

            })
            let categoryDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/api/article/category/count",
                        type: "GET",
                        contentType: "application/json"
                    }
                },
                schema: {
                    model: {
                        fields: {
                            category: {type: "number"},
                            categoryDisplayName: {type: "string"},
                            count: {type: "number"}
                        }
                    }
                },
                change: function () {
                    // DataSource의 데이터를 콘솔에 출력하여 확인

                    let data = this.data();
                    let count = 0;
                    for (let i = 0; i < data.length; ++i) {
                        count += data[i].count;
                    }
                    let totalCountData = kendo.observable({
                        totalCount: count
                    })

                    kendo.bind(tileLayout, totalCountData);

                }
            });


            $("#category-ratio-chart").kendoChart({
                dataSource: categoryDataSource,  // 수정: dataSource로 직접 전달
                series: [{
                    type: "donut",
                    field: "count", // 값이 되는 필드
                    categoryField: "categoryDisplayName", // 라벨이 되는 필드
                    labels: {
                        visible: true,
                        background: "transparent",
                        position: "outsideEnd",
                        template: "#= category # - #= kendo.format('{0:P}', percentage) #" // 라벨 형식
                    }
                }],
                tooltip: {
                    visible: true,
                    template: "#= category # : #= value #건"
                }
            });

            $("#category-bar-chart").kendoChart({
                dataSource: categoryDataSource,  // 수정: dataSource로 직접 전달
                series: [{
                    type: "column",
                    field: "count", // 값이 되는 필드
                    categoryField: "categoryDisplayName", // 라벨이 되는 필드
                    labels: {
                        visible: true,
                        background: "transparent",
                        position: "outsideEnd",
                        template: "#= value#" // 라벨 형식
                    }
                }],
                tooltip: {
                    visible: true,
                    template: "#= category # : #= value #건"
                }
            });

            let topRankCount;
            $("#writer-rank-chart").kendoChart({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/article/member/count",
                            type: "GET",
                            contentType: "application/json"
                        }
                    }, schema: {
                        model: {
                            fields: {
                                memberId: {type: "string"},
                                count: {type: "number"}
                            }
                        }
                    }, change: function () {
                        console.log("rank: ", this.data());
                        topRankCount = this.data()[0].count + 2;
                        console.log(topRankCount);
                    }
                }, series: [{
                    type: "bar",
                    field: "count", // 값이 되는 필드
                    categoryField: "memberId", // 라벨이 되는 필드
                    labels: {
                        visible: true,
                        background: "transparent",
                        position: "outsideEnd",
                        template: "#= value #건" // 라벨 형식
                    }
                }]
            });

            let today = new Date();
            let last30Days = new Date();
            last30Days.setDate(today.getDate() - 30);
            $("#article-day-chart").kendoChart({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/article/daily/count",
                            type: "GET",
                            contentType: "application/json"
                        }
                    }, schema: {
                        model: {
                            fields: {
                                date: {type: "date"},
                                count: {type: "number"}
                            }
                        }
                    }, change: function () {
                        console.log("daily: ", this.data());

                    }
                }, series: [{
                    type: "line",
                    style: "smooth",
                    field: "count", // 값이 되는 필드
                    categoryField: "date", // 라벨이 되는 필드
                    labels: {
                        visible: true,
                        background: "transparent",
                        position: "outsideEnd",
                        template: "#= value #건" // 라벨 형식
                    }
                }], categoryAxis:{
                    baseUnit: "days",           // 일 단위로 축 설정
                    min: last30Days,             // 최근 30일 이전 날짜로 설정
                    max: today,                  // 오늘 날짜로 설정하여 초기 화면 표시 범위 지정
                    labels: {
                        rotation: -45            // 가로축 라벨 회전 (보기 쉽게)
                    }
                },
                pannable: {lock: "y" },
                zoomable: {
                    mousewheel: {lock: "y"},
                    selection: {lock: "y"}
                }
            })


        }) // jquery end


    </script>

</head>
<body>
<header id="header">
    <div id="menu_header">
        <div class="menu_item"><a href="/">게시판</a></div>
        <div class="menu_item"><a href="/article/dashboard">통계</a></div>
    </div>
    <hr>
</header>
<script id="total-article-template" type="text/x-kendo-template">
    <h1 data-bind="text: totalCount"></h1>
    <div>Total Articles</div>
</script>
<script id="category-ratio-chart-template" type="text/x-kendo-template">
    <div id="category-ratio-chart" style="height:100%; width:100%"></div>
</script>
<script id="category-bar-chart-template" type="text/x-kendo-template">
    <div id="category-bar-chart" style="height:100%; width:100%"></div>
</script>
<script id="article-day-chart-template" type="text/x-kendo-template">
    <div id="article-day-chart" style="height:100%; width:100%"></div>
</script>
<script id="writer-rank-chart-template" type="text/x-kendo-template">
    <div id="writer-rank-chart" style="height:100%; width:100%"></div>
</script>

<div id="tilelayout">

</div>


</body>
</html>