<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article_detail</title>
    <link href="/static/kendo/css/common.css" rel="stylesheet"/>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/kendo/js/kendo.all.min.js"></script>
    <!--  한글화 -->
    <script src="/static/kendo/js/cultures/kendo.culture.ko-KR.min.js"></script>
    <script src="/static/kendo/js/messages/kendo.messages.ko-KR.min.js"></script>
    <style>
        #content {
            width: 80%;
            height: 50%;
        }

        #article_detail {
            width: 80%;
            margin: 0 auto;
            padding: 10px;

        }
        #buttons{
            display: flex;
        }
        ul {
            list-style: none;
            border-bottom: 1px solid #848282;
            display: flex;
            align-items: center;
            height: fit-content;
            margin: 0;
            padding:0;
        }

        li {
            margin-right: 10px;
            line-height: 50px;
            height: 100%;
        }

        li:first-child{
            width:110px;
            font-weight: bold;
            align-items: center;

            text-align: center;

        }
        #content_li{
            align-items: flex-start;
        }
        #content {
            width: 80%;
            height: 600px;
            padding: 10px 20px 10px 0;
        }
    </style>
    <script th:inline="javascript">

        $(function () {

            let loginId = localStorage.getItem("loginId");
            let id = [[${id}]]
            console.log(id);
            let memberId;




            let transForm_dataSource=[];
            let detail_url = "/api/article/" + encodeURIComponent(id);
            let detail_dataSource = new kendo.data.DataSource({
                transport:{
                    read:{
                        url: detail_url,
                        type: "GET",
                        contentType: "application/json"
                    }
                },requestEnd:function(e){
                    let result = e.response
                    memberId = result["memberId"];
                    transForm_dataSource.push({field : "글쓴이", value: result["memberId"]});
                    transForm_dataSource.push({field : "작성일시", value: result["createdAt"]});
                    transForm_dataSource.push({field : "제목", value: result["title"]});
                    transForm_dataSource.push({field : "시작일", value: result["startDate"]});
                    transForm_dataSource.push({field : "종료일", value: result["endDate"]});
                    transForm_dataSource.push({field : "카테고리", value: result["category"]});
                    transForm_dataSource.push({field : "내용", value: result["content"]});
                    console.log(transForm_dataSource);
                    article_grid();

                    if(loginId!=null && memberId===loginId){
                        $("#updateBtn").css("display", "block");
                        $("#deleteBtn").css("display", "block");
                    }
                }
            });
            detail_dataSource.read();
            function article_grid(){
                $("#article_grid").kendoGrid({
                    dataSource: {
                        data:transForm_dataSource,
                        schema: {
                            model: {
                                fields: {
                                    field: { type: "string" },
                                    value: { type: "string" }
                                }
                            }
                        }
                    },
                    columns:[
                        {
                            field: "field",
                            width: "30%",
                            headerAttributes: { style: "display:none;" },
                            attributes: {
                                style: "background-color: #143b60; text-align: center; font-weight: bold; color: white" // 셀 스타일
                            }
                        },
                        {field: "value", width: "70%", headerAttributes: { style: "display:none;" }}
                    ],
                    scrollable: false,
                    dataBound: function(e) {

                        let lastRow = e.sender.tbody.find("tr").last(); // 마지막 행 선택
                        lastRow.css("height", "300px"); // 원하는 높이로 설정
                    }
                });
            }



            function deleteArticle(id){
                let delete_dataSource = new kendo.data.DataSource({
                    transport:{
                        destroy: {
                            url: `/api/article/delete/${encodeURIComponent(id)}`,
                            type: "DELETE",
                            dataType: "json",
                            contentType: "application/json",
                            headers: {"Authorization": "Bearer " + localStorage.getItem("token")}
                        }
                    },requestEnd: function(e){
                        window.location.reload();
                        window.parent.closeDialog();

                    }
                })
                delete_dataSource.transport.destroy();
            }



            $("#updateBtn").kendoButton({
                size: "large",
                themeColor: "info",
                rounded: "large",
                fillMode: "solid"
            }).click(function(){
                window.parent.updateForm(id);
            });

            $("#deleteBtn").kendoButton({
                size: "large",
                themeColor: "error",
                rounded: "large",
                fillMode: "solid"
            }).click(function(){
                deleteArticle(id)
            });

            $("#listBtn").kendoButton({
                size: "large",
                themeColor: "base",
                rounded: "large",
                fillMode: "flat"
            }).click(function(){
                window.parent.location.reload()
                window.parent.closeDialog();
            });

        })
    </script>
</head>
<body>
<div id="article_detail">
    <div id="article_grid"></div>
    <div id="buttons">
        <button id="updateBtn" style="display:none">수정</button>
        <button id="deleteBtn" style="display:none">삭제</button>
        <button id="listBtn">목록</button>
    </div>
</div>


</body>
</html>